<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.scss">
</head>

<body>
    <!-- Header -->
    <include src="partials/header.html"></include>

    <!-- Component Start -->

    <div class=" h-40 bg-blue-50 w-full"></div>
    <!-- main section starts -->
    <section
        class="mx-auto -mt-20 bg-white w-11/12 sm:w-4/5 md:w-[70%] lg:w-1/2 xl:w-34r px-8 drop-shadow font-Inter text-gray-500 border">
        <!-- part 1 starts -->
        <div class="flex h-28 sm:h-20 justify-between items-end text-left text-lg font-medium">
            <div class="">
                <h2 class="font-semibold text-gray-900">Withdraw</h2>
                <h3 class="font-normal text-gray-400 pr-4 sm:pr-0">Your balance to your bank</h3>
            </div>

            <div>
                <h2 class=" text-sm">Your balance</h2>
                <span class="text-2xl text-black">$34,344</span>
            </div>
        </div>
        <!-- part 1 ends -->

        <!-- part 2 starts -->
        <form action="#" class="flex flex-col justify-center mt-9">
            <label for="amount" class="flex flex-col cursor-pointer">
                <span class="text-sm not-italic font-medium mb-3">Amount</span>
                <div class="w-full flex rounded-md border-gray-300 border">
                    <select
                        class="py-4 pl-3 border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent">
                        <option value="AED">AED</option>
                        <option value="ARS">ARS</option>
                        <option value="INR">INR</option>
                        <option value="USD" selected>USD</option>
                    </select>
                    <input type="number" name="amount" id="amount"
                        class="border-0 rounded-r-md w-4/5 border-l-0 border-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent py-4 px-4 sm:px-8"
                        placeholder="Enter amount">
                </div>
            </label>

            <div class="flex justify-end my-5 mr font-medium text-xs space-x-2">
                <span class="bg-gray-100 rounded-md p-2 cursor-pointer">$1000</span>
                <span class="bg-gray-100 rounded-md p-2 cursor-pointer">$5000</span>
                <span class="bg-gray-100 rounded-md p-2 cursor-pointer">$10,000</span>
            </div>

            <label for="AcNo" class="flex flex-col cursor-pointer">
                <span class="mb-3 text-sm not-italic font-medium">Withdrawal Options</span>

                <div class="w-full flex rounded-md border-gray-300 border">
                    <div class="rounded-l-md border-r-0 border-gray-400 my-auto mx-2 py-4 px-6 sm:px-8 ">
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 6V10.001H1V16H0V19H16L19 19.001V19H20V16H19V10.001H20V6L10 0L0 6ZM4 16V10.001H6V16H4ZM9 16V10.001H11V16H9ZM16 16H14V10.001H16V16ZM12 6C11.9999 6.26271 11.9481 6.52283 11.8475 6.76552C11.7469 7.00821 11.5995 7.2287 11.4137 7.41442C11.2279 7.60014 11.0073 7.74744 10.7646 7.84791C10.5219 7.94839 10.2617 8.00007 9.999 8C9.73629 7.99993 9.47617 7.94812 9.23348 7.84753C8.99079 7.74693 8.7703 7.59952 8.58458 7.41371C8.39886 7.2279 8.25156 7.00733 8.15109 6.7646C8.05061 6.52186 7.99893 6.26171 7.999 5.999C7.99913 5.46843 8.21003 4.95965 8.58529 4.58458C8.96055 4.20951 9.46943 3.99887 10 3.999C10.5306 3.99913 11.0393 4.21003 11.4144 4.58529C11.7895 4.96055 12.0001 5.46943 12 6Z"
                                fill="black" fill-opacity="0.47" />
                        </svg>
                    </div>
                    <input type="number" name="AcNo" id="AcNo"
                        class=" w-full border-transparent rounded-md py-4 px-4 sm:px-8 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-transparent"
                        placeholder="Bank Account Ending in 9994">
                </div>
            </label>

            <div class=" flex items-center justify-end pb-2">
                <label for="login"
                    class="cursor-pointer w-full sm:w-2/4 group  flex items-center  bg-indigo-900 rounded-md mt-5 mb-4 py-4 hover:shadow-lg">
                    <input type="submit" name="login" id="login" value="Withraw Amount"
                        class="mx-auto text-lg not-italic  font-semibold text-white bg-indigo-900 group-hover:border-black">
                </label>
            </div>
        </form>
        <!-- part 2 ends -->
        </main>
        <!-- main section ends -->
        <!-- Component End -->
</body>

</html>