<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.scss">
</head>

<body>
  <!-- Header -->
  <include src="partials/header.html"></include>

  <!-- Component Start -->

  <!-- Navigation -->
  <nav
    class="w-full py-3 bg-blue-900 border-b border-gray-300 flex items-center md:justify-around justify-between font-Inter">
    <div class="flex space-x-5">
      <div class="pr-5 pl-5 md:pl-0">
        <a class="" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="#CCFFEB">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
              d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
          </svg>
        </a>
      </div>
      <div class="md:w-103 md:flex hidden items-center space-x-4 font-medium text-sm text-green-200">
        <a class="hover:text-green-100" href="#">Home</a>
        <a class="hover:text-green-100" href="#">Products</a>
        <a class="hover:text-green-100" href="#">Blog</a>
        <a class="hover:text-green-100" href="#">Team</a>
      </div>
    </div>
    <div class="flex space-x-5 items-center">
      <div>
        <a class="flex items-center font-semibold text-sm text-green-200" href="#">
          <span class="mr-1 ">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
          </span>
          <span>CART</span>
        </a>
      </div>
      <a href="#">
        <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.75 12.7812V8.40625C12.75 5.72 11.3237 3.47125 8.8125 2.87625V2.28125C8.8125 1.555 8.22625 0.96875 7.5 0.96875C6.77375 0.96875 6.1875 1.555 6.1875 2.28125V2.87625C3.685 3.47125 2.25 5.71125 2.25 8.40625V12.7812L0.5 14.5312V15.4062H14.5V14.5312L12.75 12.7812ZM7.5 18.0312C8.4625 18.0312 9.25 17.2437 9.25 16.2812H5.75C5.75 17.2437 6.5375 18.0312 7.5 18.0312ZM4 13.6562H11V8.40625C11 6.23625 9.67875 4.46875 7.5 4.46875C5.32125 4.46875 4 6.23625 4 8.40625V13.6562Z"
            fill="#a7f3d0" />
        </svg>
      </a>
      <div class="flex items-center">
        <a class="flex items-center" href="#">
          <span class="mr-0 flex flex-col justify-center items-center">
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="14.5" cy="14.5" r="14.5" fill="#d1fae5" />
            </svg>
            <p class="-mt-6 font-bold text-blue-800">JT</p>
          </span>
          <p class="hidden md:block text-green-100 font-normal pl-2">Jay Thakare</p>
          <a href="#" class="">
            <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg class="h-4 w-6" id="Layer_1" style="enable-background:new 0 0 512 512;" fill="#d1fae5" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M98.9,184.7l1.8,2.1l136,156.5c4.6,5.3,11.5,8.6,19.2,8.6c7.7,0,14.6-3.4,19.2-8.6L411,187.1l2.3-2.6  c1.7-2.5,2.7-5.5,2.7-8.7c0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2,0-16.6,7.1-16.6,15.8C96,179.1,97.1,182.2,98.9,184.7z"/></svg>
          </a>
        </a>
        <div class="md:hidden ml-4">
          <div id="burger" class=" cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 mr-8" viewBox="0 0 20 20" fill="#d1fae5">
              <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div id="menu"
            class="hidden font-inter font-normal text-md  text-green-200 text-center absolute right-6 top-48 w-48 py-6 bg-blue-900 border border-gray-300 rounded">
            <div class="flex flex-col ">
              <a class=" py-4 px-3 hover:text-green-100" href="#">Home</a>
              <a class=" py-4 px-3 hover:text-green-100" href="#">Products</a>
              <a class=" py-4 px-3 hover:text-green-100" href="#">Blog</a>
              <a class=" py-4 px-3 hover:text-green-100" href="#">Team</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navigation end -->

  <!-- Component End -->
  <script src="index.js"></script>
</body>

</html>